.first-container{
    margin: 0 auto;
    width: 90%;
    height: 25vh;
    border: solid black;
    padding: 20px;
    
}

.square-one{
    width: 35px;
    height: 100px;
    margin: 0;
    background-color: purple;
    display: inline-block;
}

.square-two{
    width: 30%;
    height: 25vh;
    background-color: green;
    display: inline-block;
    margin: 0 50px;
}

.circle-one {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: skyblue;
    display: inline-block;
  }

.second-container{

    margin: 20px auto;
    height: 30vh;
    width: 90%;
    border: dotted black;
    padding: 20px
}

.box-shadow {
    width: 100%;
    height: 150px;
    background-color: lemonchiffon;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  }

  .hello-box {
    width: 50%;
    border: 1px solid #ccc;
    background-color: white;
    padding: 100px;
    box-sizing: border-box ;
    margin: 25px auto; 
    -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.25);
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.25);
  }
  
  .hello-box h1 {
    width: 100%;
    text-align: center;
    color: navy;
    letter-spacing: 10px;
  }